# build
artifacts/
cache/
typechain/

# dependencies
node_modules/
package-lock.json
yarn.lock

#test
.coverage/
.coverage-contracts/
coverage/
coverage.json

# ide
.idea/
.vscode/

#deploy
Flattened.sol

# security
.env
.secret
.venv
